<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thebo.dao.ActivityConfMapper" >
  <resultMap id="BaseResultMap" type="com.thebo.entity.ActivityConf" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="from_app" property="fromApp" jdbcType="VARCHAR" />
    <result column="activity_url" property="activityUrl" jdbcType="VARCHAR" />
    <result column="activity_img" property="activityImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="obtain_coupon" property="obtainCoupon" jdbcType="VARCHAR" />
    <result column="obtain_privilege" property="obtainPrivilege" jdbcType="VARCHAR" />
    <result column="obtain_exchange" property="obtainExchange" jdbcType="VARCHAR" />
  </resultMap>
</mapper>